# Object files
*.o
*.ko
*.mod.*
*.rootkit.*

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Swap
*.swp

#/var/log/messages softlink
messages
